body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #FFF7EE;
  padding: 0px;
  margin: 0px;
  color: #121212;
}

p {
  padding: 0px;
  margin: 0px;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background: #409ffe;
  background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
  background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
  background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
  background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
  background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
  color: white;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:active {
  background-color: #007aff;
  transform: translate(-1px, 1px); /* Move the button to the bottom left */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow to match the new direction */
}


.mirror {
  transform: scaleX(-1);
}

#report-btn {
    position: absolute;
    top: 2px;  /* Adjust as needed */
    right: 2px; /* Adjust as needed */
    z-index: 2; /* Ensure it's above the video */
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Cursor pointer for button */
    fill: #8B0000;
}

#report-btn[disabled] {
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.5; /* Make the button look faded */
    fill: #fff;
}

#switch-camera-btn {
    position: absolute;
    top: 2px;  /* Adjust as needed */
    right: 2px; /* Adjust as needed */
    z-index: 2; /* Ensure it's above the video */
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Cursor pointer for button */
    fill: #fff;
}

#switch-camera-btn[disabled] {
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.5; /* Make the button look faded */
    fill: #fff;
}

/* main container styles */
#main {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8% auto 9%;
  grid-template-columns: 30% auto;
  grid-template-areas:
    'top top'
    'vid msg'
    'vid inp';
}

/* top bar styles */
#top-bar {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;

    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#logo {
  height: 100%;
}
#logo img {
  width: 310px;
    margin-top: -132px;
    margin-left: -42px;
}
#logo h1 {
  cursor: pointer;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0px;
}
#top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#peopleOnline p {
  color: #9cf;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 10px;
  margin-right: 20px;
}
#feedback-btn {
  margin: 0;
  padding: 8px;
  border-radius: 10px;
}
/* #feedback-btn:active {

} */

/* video container */
#videos {
  grid-area: vid;
  margin: 10px;
  margin-right: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

#self {
  overflow: hidden;
  margin-top: 5px;
  position: relative;

  border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -moz-border-radius-bottomleft: .5em;
    -moz-border-radius-bottomright: .5em;
    -webkit-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
}
#peer {
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;

  border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
}
#peer img {
  position: absolute;
  width: 185px;
  left: -10px;
  z-index: 10;
  opacity: 0.7;
  bottom: -74px;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g); */
  background-image: -moz-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-image: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-image: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-size: 100%;
}

#peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/nosignal.gif');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
}

#peer-video-loader {
  position: absolute;
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  display: inline-block;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.7s linear infinite;
}

/* message area */
#message-area {
  background: #fff;
  grid-area: msg;
  margin: 8px;
  padding: 10px;
  overflow-y: auto;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
}

.message-status {
  margin: 8px;
  margin-bottom: 16px;
  font-weight: bold;
  color: grey;
}

.message {
  margin: 8px;
}

.message .you {
  color: #4285f4;
  font-weight: bold;
}

.message .strange {
  color: red;
  font-weight: bold;
}

/* input area */
#input-area {
  grid-area: inp;
  display: flex;
  padding: 0;
  padding-bottom: 6px;
  min-width: 0;
}

#skip-btn {
  margin: 0 8px;
  padding: 5px 40px;
  font-size: 20px;
  min-width: 0;
    background: #409ffe;
    background-image: -o-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -moz-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#80c0ff),to(#017ffe));
    background-image: -webkit-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -ms-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: linear-gradient(top,#80c0ff 0,#017ffe 100%);
    color: white;
    border-bottom-left-radius: 10px;
}
#skip-btn span {
  display: block;
  font-size: 12px;
  min-width: 0;
}

.rad{
  border-radius: 5px;
}

#skip-btn:disabled {
    background-color: #cccccc !important;
    color: lightgrey !important;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  min-width: 0;
}

#button-container span{
  margin-top: 16px;
}

#send-btn {
  margin: 0 8px;
  padding: 5px 40px;
  font-size: 20px;
    background: #409ffe;
    background-image: -o-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -moz-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#80c0ff),to(#017ffe));
    background-image: -webkit-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: -ms-linear-gradient(top,#80c0ff 0,#017ffe 100%);
    background-image: linear-gradient(top,#80c0ff 0,#017ffe 100%);
    color: white;
    border-bottom-right-radius: 10px;
}
#send-btn span {
  display: block;
  font-size: 12px;
}

#send-btn:disabled {
    background-color: #cccccc !important;
    color: lightgrey !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* feedback popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#feedbackText {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  resize: vertical;
}
#submit-btn {
  padding: 10px 20px;
}
